<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>

<div class="container page-addpost p-3 shadow">
    <form method="POST" action="/travel" class="p-2">
        <h3 class="text-center mt-lg-2 mt-md-4 mt-sm-4 ">สร้างบทความ</h3>
        <div class="form-group">
              <label for="text">หัวเรื่อง :</label>
              <input type="text" class="form-control" name="title" autocomplete="off" required>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <p>ภาพหน้าปก :</p>
                <div class=" mb-3" >
                    <input type="file" name="img_title" id="img_preview" class="form-control-file">
                    <div class="pt-2">
                        <img src="/images/no-image.png" id="img_show" alt="" style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="Catelog">หมวดหมู่ :</label>
                    <select class="form-control"name="category">
                        <option name="ที่กิน">ที่กิน</option>
                        <option name="ที่เที่ยว">ที่เที่ยว</option>
                        <option name="ที่พัก">ที่พัก</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="text">แท็ก :</label>
                    <input type="text" class="form-control autocomplete" data-tags="<%= Arraytag %>" id="tags" autocomplete="off" name="tag"   required>
                </div>
        
                <div class="form-group">
                    <label for="text">งบประมาณ :</label>
                    <% Allprice.forEach(function(price){ %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="length_price" value="<%= price._id%>" >
                            <label class="form-check-label">ขั้นต่ำ <%= price.maximum_price %> บาท</label>
                        </div>
                    <% }) %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="length_price" value="" checked>
                            <label class="form-check-label">ไม่จำกัด</label>
                        </div>
                </div>
        
                <div class="form-group">
                    <label for="provinces">จังหวัด :</label>
                    <select class="form-control" name="provinces">
                        <% AllProvinces.forEach(function(province){ %>
                            <option name="<%= province.name %>"><%= province.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <fieldset class=" col-lg-8 col-12">
                <legend>วันเปิดทำการ</legend>
                <div class="row">
                    <div class="col-12">
                        <input type="checkbox" name="day" value="ทุกวัน">
                        <label >ทุกวัน</label>
                        <input type="time" class="" autocomplete="off" name="day">
                        <input type="time" class="" autocomplete="off" name="day">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="day" value="วันจันทร์">
                        <label >วันจันทร์</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="day" value="วันอังคาร">
                        <label >วันอังคาร</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="day" value="วันพุธ">
                        <label >วันพุธ</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="day" value="วันพฤหัสบดี">
                        <label >วันพฤหัสบดี</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="day" value="วันศุกร์">
                        <label >วันศุกร์</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="day" value="วันเสาร์">
                        <label >วันเสาร์</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-12">
                        <input type="checkbox" name="sunday" value="วันอาทิตย์">
                        <label >วันอาทิตย์</label>
                        <input type="time" class="" autocomplete="off" name="time-open">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                </div>
            </fieldset>
            <div class="form-group col-lg-4 col-12">
                <label for="text">เวลาเปิด-ปิด : </label>
                <div class="row">
                    <div class="col-6 mt-md-2 mt-lg-0">
                        <input type="time" class="" autocomplete="off" name="time-open">
                    </div>
                    <div class="col-6 mt-md-2 mt-lg-0">
                        <input type="time" class="" autocomplete="off" name="time-close">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="text">แผนที่ : <a class="far fa-question-circle" href="" target="_blank" >วิธีการนำแผนที่เข้ามาใส่ในบทความ</a></label>
            <input type="text" class="form-control" autocomplete="off"  name="map">
        </div>

        <div class="form-group">
            <label for="text">เนื้อหา :</label>
            <textarea name="editor"></textarea>
        </div>
        <div class="mt-2">
            
            <button type="submit" class="btn btn-success btn-block">โพสต์</button>
        </div>
        
    </form>
    
    <script>
        var filename = document.getElementById("img_preview");
            filename.onchange = function()
            {
                var file = filename.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(){
                    var result = reader.result;
                    document.getElementById("img_show").src = result;
                };
            };

        CKEDITOR.replace('editor'); 
        
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    
</div>

<%- include("../layout/footer") %>  