<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>
<% if(locals.user){ %>
<div class="container p-3 shadow" style="background-color: whitesmoke;">
    <form method="POST" action="/blogs/new" class="p-2" enctype="multipart/form-data">
        <h3 class="text-center mt-lg-2 mt-md-4 mt-sm-4 ">สร้างบทความ</h3>
        <div class="form-group">
              <label for="text">หัวเรื่อง :</label>
              <input type="text" class="form-control" name="name" required>
        </div>
        <p>ภาพหน้าปก :</p>
        <div class=" mb-3" >
            <input type="file" name="img_title" id="img_preview" class="form-control-file">
            <div style=" padding: 10px;">
                <img src="" id="img_show" alt="">
            </div>
        </div>
        <div class="form-group">
            <label for="Catelog">ประเภทของบทความ :</label>
            <select class="form-control" id="catelog" name="category">
                <% categories.forEach(function(catelog){ %>
                    <option name="<%= catelog.name %>"><%=catelog.name %></option>
                <% }); %>
            </select>
          </div>
        <div class="form-group">
            <label for="text">เนื้อหา :</label>
            <textarea name="editor"></textarea>
        </div>
        <div class="mt-2">
            
            <button type="submit" class="btn btn-success btn-block">Post</button>
        </div>
        
    </form>
    
    <script>
        var filename = document.getElementById("img_preview");
            filename.onchange = function()
            {
                var file = filename.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(){
                    var result = reader.result;
                    document.getElementById("img_show").src = result;
                };
            };

        CKEDITOR.replace('editor'); 
        
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    
</div>
<% } %> 
<% if(!locals.user){ %>
    <div class="text-center p-5"><h2>Please Login!</h2></div>
<% } %> 
<%- include("../layout/footer") %>  