<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>

<div class="container page-addpost p-3 shadow">
    <form method="POST" action="/travel" class="p-2" enctype="multipart/form-data">
        <h3 class="text-center mt-lg-2 mt-md-4 mt-sm-4 ">สร้างบทความ</h3>
        <div class="form-group">
              <label for="text">หัวเรื่อง :</label>
              <input type="text" class="form-control" name="title" autocomplete="off" required>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <p>ภาพหน้าปก :</p>
                <div class=" mb-3" >
                    <input type="file" name="img_title" id="img_preview" class="form-control-file" required>
                    <div class="pt-2">
                        <img src="/images/no-image.png" id="img_show" alt="" style="width: 100%; height: auto;">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="Catelog">หมวดหมู่ :</label>
                    <select class="form-control"name="category" required>
                        <option name="ที่กิน">ที่กิน</option>
                        <option name="ที่เที่ยว">ที่เที่ยว</option>
                        <option name="ที่พัก">ที่พัก</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="text">แท็ก :</label>
                    <input type="text" class="form-control autocomplete" data-tags="<%= Arraytag %>" id="tags" autocomplete="off" name="tags"   required>
                </div>
        
                <div class="form-group">
                    <label for="text">งบประมาณ :</label>
                    <% Allprice.forEach(function(price){ %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="length_price" value="<%= price.maximum_price%>" >
                            <label class="form-check-label">ขั้นต่ำ <%= price.maximum_price %> บาท</label>
                        </div>
                    <% }) %>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="length_price" value="" checked>
                            <label class="form-check-label">ไม่จำกัด</label>
                        </div>
                </div>
        
                <div class="form-group">
                    <label for="provinces">จังหวัด :</label>
                    <select class="form-control" name="provinces" required>
                            <option value="">--</option>
                        <% AllProvinces.forEach(function(province){ %>
                            <option name="<%= province.name %>"><%= province.name %></option>
                        <% }); %>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class=""> 
                <label for="">วันและช่วงที่เปิด-ปิด</label>
                <div class="col-12 DateAndTime">
                    <!-- <span> -->
                        <select name="day" id="optionday">
                            <option value="ทุกวัน" id="openAllday">ทุกวัน</option>
                            <option value="วันจันทร์" >วันจันทร์</option>
                            <option value="วันอังคาร" >วันอังคาร</option>
                            <option value="วันพุธ" >วันพุธ</option>
                            <option value="วันพฤหัสบดี" >วันพฤหัสบดี</option>
                            <option value="วันศุกร์" >วันศุกร์</option>
                            <option value="วันเสาร์" >วันเสาร์</option>
                            <option value="วันอาทิตย์" >วันอาทิตย์</option>
                        </select>
                        <!-- <input type="checkbox" name="day0" id="allday" value="ทุกวัน" class="allday">
                        <label class="allday">ทุกวัน</label> -->
                    <!-- </span> -->
                    <input type="time" autocomplete="off" name="day0" class="timeallday">
                    <input type="time" autocomplete="off" name="day0" class="timeallday">
                    <button id="addDateTime">เพิ่ม</button>
                </div>
                
            </div>
            <!-- <fieldset class=" col-lg-6 col-12">
                <legend>วันเปิดทำการ</legend>
                <div class="row">
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day0" id="allday" value="ทุกวัน" class="allday">
                            <label class="allday">ทุกวัน</label>
                        </span>
                        
                        <input type="time" autocomplete="off" name="day0" class="timeallday" disabled>
                        <input type="time" autocomplete="off" name="day0" class="timeallday" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day1" id="monday" data-day="1" value="วันจันทร์" class="eachday">
                            <label class="eachday">วันจันทร์</label>
                        </span>
                        
                        <input type="time" autocomplete="off" name="day1" class="timeeachday1" disabled>
                        <input type="time" autocomplete="off" name="day1" class="timeeachday1" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day2" id="tuesday" data-day="2" value="วันอังคาร" class="eachday">
                            <label class="eachday">วันอังคาร</label>
                        </span>
                        <input type="time" autocomplete="off" name="day2" class="timeeachday2" disabled>
                        <input type="time" autocomplete="off" name="day2" class="timeeachday2" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day3" id="day3" data-day="3" value="วันพุธ" class="eachday">
                            <label class="eachday">วันพุธ</label>
                        </span>
                        <input type="time" autocomplete="off" name="day3" class="timeeachday3" disabled>
                        <input type="time" autocomplete="off" name="day3" class="timeeachday3" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day4" id="thursday" data-day="4" value="วันพฤหัสบดี" class="eachday">
                            <label class="eachday">วันพฤหัสบดี</label>
                        </span>
                        
                        <input type="time" autocomplete="off" name="day4" class="timeeachday4" disabled>
                        <input type="time" autocomplete="off" name="day4" class="timeeachday4" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day5" id="friday" data-day="5" value="วันศุกร์" class="eachday">
                            <label class="eachday">วันศุกร์</label>
                        </span>
                        
                        <input type="time" autocomplete="off" name="day5" class="timeeachday5" disabled>
                        <input type="time" autocomplete="off" name="day5" class="timeeachday5" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day6" id="saturday" data-day="6" value="วันเสาร์" class="eachday">
                            <label class="eachday">วันเสาร์</label>
                        </span>
                        
                        <input type="time" autocomplete="off" name="day7" class="timeeachday6" disabled>
                        <input type="time" autocomplete="off" name="day7" class="timeeachday6" disabled>
                    </div>
                    <div class="col-12 DateAndTime">
                        <span>
                            <input type="checkbox" name="day7" id="sunday" data-day="7" value="วันอาทิตย์" class="eachday">
                            <label class="eachday">วันอาทิตย์</label>
                        </span>

                        <input type="time" autocomplete="off" name="day7" class="timeeachday7" disabled>
                        <input type="time" autocomplete="off" name="day7" class="timeeachday7" disabled>
                    </div>
                </div>
            </fieldset>
            <div> -->

            <!-- </div> -->
        </div>

        <div class="form-group">
            <label for="text">แผนที่ : <a class="far fa-question-circle" href="" target="_blank" >วิธีการนำแผนที่เข้ามาใส่ในบทความ</a></label>
            <input type="text" class="form-control" autocomplete="off"  name="map">
        </div>

        <div class="form-group">
            <label for="text">เนื้อหา :</label>
            <textarea name="editor" required></textarea>
        </div>
        <div class="mt-2">
            
            <button type="submit" class="btn btn-success btn-block">โพสต์</button>
        </div>
        
    </form>
    
    <script>
        var filename = document.getElementById("img_preview");
            filename.onchange = function()
            {
                var file = filename.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(){
                    var result = reader.result;
                    document.getElementById("img_show").src = result;
                };
            };

        CKEDITOR.replace('editor'); 
        
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
    
</div>

<%- include("../layout/footer") %>  