<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>
<% if(locals.user){ %>
<div class="container p-3 shadow" style="background-color: whitesmoke;">
    <form action="/travel/<%= post._id %>/?_method=PUT" method="POST" class="p-2" enctype="multipart/form-data">
        <h2 class="text-center mt-lg-2 mt-md-4 mt-sm-4 ">แก้ไขบทความ</h2>
        <div class="form-group">
            <label for="text">Title :</label>
            <input type="text" class="form-control" value="<%= post.title %>" placeholder="ชื่อหัวเรื่อง" name="title" required>
        </div>
        <p>Image title:</p>
        <div class=" mb-3">
            <input type="file" name="img_title" id="img_preview" style="width: 100%;">
            <div style=" padding: 10px;">
                <img src="/images/posts/<%= post.image %>" id="img_show" alt="">
            </div>
        </div>
        <div class="form-group">
            <label for="Catelog">Catelog :</label>
            <select class="form-control" id="catelog" name="category">
                <option name="<%= post.category %>"><%= post.category %></option>
                <% categories.forEach(function(catelog){ %>
                    
                    <option name="<%= catelog.name %>"><%=catelog.name %></option>
                <% }); %>
            </select>
          </div>
        <div class="form-group">
            <label for="text">Articel :</label>
            <textarea name="editor"><%= post.content %> </textarea>
        </div>
        <div class="mt-2">
            <button type="submit" class="btn btn-success btn-block">อัพเดต</button>
        </div>
    
        <script>
            CKEDITOR.replace('editor');
            // // Add the following code if you want the name of the file appear on select
            // $(".custom-file-input").on("change", function() {
            // var fileName = $(this).val().split("\\").pop();
            // $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            // });

            var filename = document.getElementById("img_preview");
            filename.onchange = function()
            {
                var file = filename.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(){
                    var result = reader.result;
                    document.getElementById("img_show").src = result;
                };
            };
        </script>
    </form>
</div>
<% } %> 
<% if(!locals.user){ %>
    <div class="text-center p-5"><h2>Please Login!</h2></div>
<% } %> 
<%- include("../layout/footer") %>  