<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>

  <!-- slide header -->
  <section class="p-0">
    <div id="demo" class="container carousel slide shadow" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="">
            <img src="/images/slideshow/slide1.jpg" alt="" height="300" width="auto">
          </a>
        </div>
        <div class="carousel-item">
          <a href="">
            <img src="/images/slideshow/slide2.jpg" alt="" height="300" width="auto"> 
          </a>
        </div>
        <div class="carousel-item">
          <a href="">
            <img src="/images/slideshow/slide3.jpg" alt="" height="300" width="auto">
          </a>
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  
  <section>
    <div class="container">
      <div class="row m-0">
        <div class="col-xl-8 col-lg-8 col-md-8 p-0">
          <!-- content section 1-->
          <section class="section-content1 shadow">
            <div class=" blog-group-contect mt-3 p-md-3 ">
              <div class="title-section p-2">
                <h3>
                  <i class="far fa-newspaper"></i>
                  <a href="/travel/showmore/<%= section1[0].category %>">
                    สงกรานต์นี้เที่ยวไหนดี&nbsp;<i class="fas fa-angle-right"></i>
                  </a>
                </h3>
              </div>
              <hr>
              <div class="row m-0">
                <% for(let i=0; i < section1.length ; i++) { %> 
                  <article class="col-xl-6 col-lg-6 col-md-6 col-6 p-1 p-lg-2">
                    <a href="/travel/review/<%= section1[i]._id %>">
                      <div class="card">
                        <img src="/images/posts/<%= section1[i].image %>" alt="" class="img-crop-section1">
                        <div class="desc-card">
                          <h5><%= section1[i].title %></h5>
                          <div class="mt-auto">
                            <span class="viewOfPost">
                              <i class="fa fa-eye"> <%= section1[i].views.length  %></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>     
                  </article>
                <% } %> 
              </div>
            </div>
          </section>
        </div>
        
        <!-- sidebar right-->
        <section class="col-xl-4 col-lg-4 col-md-4 mt-3">
          <div class="p-2 category">
              <div class="category-title"> <h5>หมวดหมู่</h5> </div>
                  <div class="mt-2">
                          <% for(var i=0; i<(category.length); i++) { %>
                              <span class="category-items fa fa-tags"><a href="/travel/showmore/<%= category[i].name %>"><%= category[i].name %></a></span>
                          <% } %>
                  </div>
              </div>
          </div>
      </section>
      </div>
    </div>
  </section>
  
  
<% if(Marketfloat.length > 0) {%>
  <div class="main-content-section3 container mt-3">
    <div class="background-section3" style="background-image: url(images/background-section3.jpg);"></div>
    <div class="container">
      <div class="blog-group-contect mt-3 p-3">
        <div class="title-section3">
          <h3>
            <i class="far fa-newspaper"></i>
            <a href="/blogs/showmore/<%= Marketfloat[0].category %>">
              เดินกินของอร่อยริมน้ำ <i class="fa fa-angle-right"></i>
            </a>
          </h3>
        </div>
        <hr>
        <br>
      <div class="row p-2">
        <% for(var i=0; i<(Marketfloat.length); i++) { %> 
        <article class="col-xl-3 col-lg-4 col-md-4 col-6 p-2">
          <a href="/blogs/review/<%= Marketfloat[i]._id %>">
            <div class="card">
              <img src="/images/posts/<%= Marketfloat[i].imgurl %>" alt="">
              <div class="p-2">
                <h6><%= Marketfloat[i].name %></h6>
                <div class="mt-auto">
                  <i class="fas fa-eye eye-view"> 0 </i>
                </div>
              </div>
            </div>
          </a>     
        </article>
        <% } %> 
      </div>
    </div>
  </div>
  </div>
<% } %> 
 
<%- include("../layout/footer") %>

