<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>

  <!-- slide header -->
  <section class="p-0">
    <div id="demo" class="container carousel slide shadow" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="https://teawpaplern.herokuapp.com/travel/review/5ef3af1343805900179ca78f">
            <img src="/images/slideshow/slide1.jpg" alt="" height="300" width="auto">
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://teawpaplern.herokuapp.com/travel/review/5ef3a82b43805900179ca78b">
            <img src="/images/slideshow/slide2.jpg" alt="" height="300" width="auto"> 
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://teawpaplern.herokuapp.com/travel/review/5ef392ea913bab0017b79a04">
            <img src="/images/slideshow/slide3.jpg" alt="" height="300" width="auto"> 
          </a>
        </div>
        <div class="carousel-item">
          <a href="https://teawpaplern.herokuapp.com/travel/review/5ef3b0f043805900179ca792">
            <img src="/images/slideshow/slide4.jpg" alt="" height="300" width="auto">
          </a>
        </div>

      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </section>
  
  <div>
    <div class="container">
          <!-- content section 1-->
          <section class="section-content1 shadow">
            <div class=" blog-group-contect mt-3 p-lg-3 p-1">
              <div class="title-section mt-1 p-2">
                <h3>
                  <i class="far fa-newspaper"></i>
                  <a href="/travel/category/ที่กิน">
                    ที่กิน&nbsp;<i class="fas fa-angle-right"></i>
                  </a>
                </h3>
                <hr>
              </div>
              
              <div class="row m-0">
                <% for(let i=0; i < group1.length ; i++) { %> 
                  <article class="col-xl-3 col-lg-4 col-md-6 col-6 p-1 p-lg-2">
                    <a href="/travel/review/<%= group1[i]._id %>">
                      <div class="card">
                        <img src="https://res.cloudinary.com/dvzib8cte/image/upload/v1593015941/<%= group1[i].image %>" alt="" class="img-crop-section1">
                        <div class="desc-card">
                          <h5><%= description(group1[i].title,50) %></h5>
                          <div class="mt-auto">
                            <span class="viewOfPost">
                              <i class="far fa-eye"></i><span> <%= group1[i].views %></span>
                              <i class="far fa-comments"><span> <%= group1[i].comments.length %></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>     
                  </article>
                <% } %> 
          </section>
    </div>
  </div>
  
  <div>
    <div class="container">
          <!-- content section 1-->
          <section class="section-content2 shadow">
            <div class=" blog-group-contect mt-3 p-lg-3 p-1">
              <div class="title-section mt-1 p-2">
                <h3>
                  <i class="far fa-newspaper"></i>
                  <a href="/travel/category/ที่เที่ยว">
                    ที่เที่ยว&nbsp;<i class="fas fa-angle-right"></i>
                  </a>
                </h3>
                <hr>
              </div>
              
              <div class="row m-0">
                <% for(let i=0; i < group2.length ; i++) { %> 
                  <article class="col-xl-3 col-lg-4 col-md-6 col-6 p-1 p-lg-2">
                    <a href="/travel/review/<%= group2[i]._id %>">
                      <div class="card">
                        <img src="https://res.cloudinary.com/dvzib8cte/image/upload/v1593015941/<%= group2[i].image %>" alt="" class="img-crop-section1">
                        <div class="desc-card">
                          <h5><%= description(group2[i].title,50) %></h5>
                          <div class="mt-auto">
                            <span class="viewOfPost">
                              <i class="far fa-eye"></i><span> <%= group2[i].views %></span>
                              <i class="far fa-comments"><span> <%= group2[i].comments.length %></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>     
                  </article>
                <% } %> 
          </section>
    </div>
  </div>
  
  <div>
    <div class="container">
          <!-- content section 3-->
          <section class="section-content3 shadow">
            <div class=" blog-group-contect mt-3 p-lg-3 p-1">
              <div class="title-section mt-1 p-2">
                <h3>
                  <i class="far fa-newspaper"></i>
                  <a href="/travel/category/ที่เที่ยว">
                    ที่พัก&nbsp;<i class="fas fa-angle-right"></i>
                  </a>
                </h3>
                <hr>
              </div>
              
              <div class="row m-0">
                <% for(let i=0; i < group3.length ; i++) { %> 
                  <article class="col-xl-3 col-lg-4 col-md-6 col-6 p-1 p-lg-2">
                    <a href="/travel/review/<%= group3[i]._id %>">
                      <div class="card">
                        <img src="https://res.cloudinary.com/dvzib8cte/image/upload/v1593015941/<%= group3[i].image %>" alt="" class="img-crop-section1">
                        <div class="desc-card">
                          <h5><%= description(group3[i].title,50) %></h5>
                          <div class="mt-auto">
                            <span class="viewOfPost">
                              <i class="far fa-eye"></i><span> <%= group3[i].views %></span>
                              <i class="far fa-comments"><span> <%= group3[i].comments.length %></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </a>     
                  </article>
                <% } %> 
          </section>
    </div>
  </div>


 
<%- include("../layout/footer") %>

