<%- include("../layout/header") %>
<%- include("../layout/layoutnavbar") %>
<section class="bg-white">
    <div class="row container bg-white">
        <div class="col-lg-8 p-3 ">
            <h1 class="pt-3"><%= post.title %></h1>
            <div class="author_post">
                <div>
                    <img src="/images/img-profile/<%= post.author_by.image %>" alt="" class="author-img mr-2">
                    <div>
                        <a href="/travel/author/<%= post.author_by._id %>" id="AuthorName"><%= description(post.author_by.username,15) %></a><br><span id="dateOfPost"><i class="fa fa-clock"></i>&nbsp;<%= moment(post.date).format("DD-MMMM-YYYY HH:mm") %></span>
                    </div>
                </div>
                <% if(locals.user) {%> 
                    <% if(favouriteThisPost == false){ %> 
                        <div class="bookmark-post d-flex align-items-center justify-content-end" id="favourite" data-favouritepost="<%= post._id %>">
                            <span><i id="iconfav" class="far fa-bookmark"></i></span>&nbsp;&nbsp;
                            <span id="text-addfavourite">เพิ่มในรายการโปรด</span>
                        </div>
                    <% } %> 
                    <% if(favouriteThisPost == true){ %> 
                        <div class="bookmark-post-saved d-flex align-items-center justify-content-end" id="favourite_seved" data-favouritepost="<%= post._id %>" >
                            <span><i id="iconfav" class="fas fa-bookmark"></i></span>&nbsp;&nbsp;
                            <span id="text-addfavourite">บันทึกแล้ว</span>
                        </div>
                    <% } %> 
                <% } %> 
            </div>
            <article class="mt-3">
                <img src="https://res.cloudinary.com/dvzib8cte/image/upload/v1593015941/<%= post.image %>.jpg" alt="<%= post.image %>" class="shadow">
                <div class="mt-2 mb-2 pt-2 content">
                    <%- post.content%>
                </div>
                <div>
                    <span>แท็ก : </span>
                    <% post.tags.forEach(tag => { %>
                        <a href="/travel/search?keyword=<%= tag %>" id="categorytag">
                            <span class=""> <%= tag %> </span>
                        </a>
                    <% }) %> 
                </div>
                
            </article>
            <hr>
            <div class="comment-box">
                <h5>ความคิดเห็น <%= post.comments.length %> รายการ</h5>
                <div class="p-1">
                    
                    <!-- <div class="append-newComment">
                        
                    </div> -->
                    <% post.comments.forEach(function(comment){ %>
                        <div class="comment-item">
                            <figure class="comment-by-img">
                                <img src="/images/img-profile/<%= comment.comment_by.image %>" alt="" class="usercomment-img mr-2">
                            </figure>
                            <div class="comment-by" id="<%= comment._id %>">
                                <p><a href="/travel/author/<%= comment.comment_by._id %>"><%= comment.comment_by.username %></a>&nbsp;<span id=""><%= comment.text %></span></p>
                                <% if(user && comment.comment_by.equals(user._id)){ %> 
                                <div class="edit-comment">
                                    
                                    <span id="editComment" data-id="<%= comment._id %>" data-text="<%= comment.text %>"><i class="fa fa-pencil-alt"></i>&nbsp;แก้ไข</span> 
                                    <span id="deleteComment" data-id="<%= comment._id %>" data-commentOfPostId="<%= post._id %>"><i class="fas fa-trash"></i>&nbsp;ลบ</span>
                                </div>
                                <% } %> 
                            </div>
                        </div>
                    <% }) %>

                    <% if(locals.user){ %>
                        <div class="comment-item">
                            <figure class="comment-by-img">
                                <img src="/images/img-profile/<%= user.image %>" alt="" class="usercomment-img mr-2">
                            </figure>
                            <form>
                                <textarea name="comment" class="box-for-comment" data-postIdOfCommment="<%= post._id %>" id="textInputComment" rows="3" placeholder="แสดงความคิดเห็น"></textarea>
                                <div>
                                    <button id="btnPostcomment">&nbsp;โพสต์&nbsp;</button>
                                </div>
                            </form>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <aside class="col-lg-4 mt-lg-3">
            <section class="about-this-blog pt-3">
                <div class="about-this-blog-title">
                    <h5><i class="fa fa-info-circle"></i> ข้อมูลสถานที่ท่องเที่ยว</h5>
                </div>
                <div class="about-this-blog-information">
                    <p>วันที่เปิดทำการ : <%= post.openandclose.day %> </p>
                    <p>เวลาเปิด-ปิด : <%= post.openandclose.open %> - <%= post.openandclose.close %> </p>
                </div>
                <div class="map">
                    <%- post.googlemap %>
                </div>
            </section>
            <section class="mt-3 p-2 bg-white ">
                <div class="pl-3 mt-2 sidebar-recommend-title">
                    <h5>แนะนำ</h5>
                </div>
                <% recommend.forEach(function(rec){ %>       
                <div class="sidebar-recommend">
                    <a href="/travel/review/<%= rec._id %>">
                        <img src="/images/posts/<%= rec.image %>" alt="<%= rec.imgurl %>" class="image-sidebar-recommend">
                    </a>
                    <a href="/travel/review/<%= rec._id %>">
                        <div class="p-1">
                            <p><%= rec.title %></p> 
                                <div class="viewOfPost">
                                    <i class="fa fa-eye"></i><span> <%= rec.views %></span>
                                </div>
                        </div>
                        
                    </a>
                    
                </div>
                <% }) %> 
            </section>
            <section class="mt-3">
                <div class="p-2 category">
                    <div class="category-title"> <h5>แท็กยอดนิยม</h5> </div>
                        <div class="mt-2">
                                <% Alltag.forEach(function(tag){  %>
                                    <a href="/travel/search?keyword=<%= tag.name %>" id="categorytag">
                                        <span class="category-items">#<%= tag.name %></span>
                                    </a>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" role="dialog" id="updatecomment">
    <div class="modal-dialog modal-md">
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">แก้ไขความคิดเห็น</h4>  
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/travel/comment/<%= post._id %>/?_method=PUT" method="POST">
                    <input type="hidden" id="IdEditcomment">
                    <textarea name="EditTextComment" class="box-for-comment" rows="5" data-IdUpdateComment="<%= post._id %>" id="textEditcomment"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnupdatecomment" data-dismiss="modal">อัพเดต</button>
                <button class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
  </div>
<%- include("../layout/footer") %>