<%- include("../layout/header") %>
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
    </head>
          
             <body>
         
              <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo">ADMIN</a>
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>User<p class="secondary-content"><i class="material-icons">grade</i></p></li>
                    <li><a href="">Catelog</a></li>
                    <li><a href="">Edit post</a></li>
                    <li><a href="">Back</a></li>
                  </ul>
                </div>
              </nav>
             
              <table class="responsive-table">
                <thead>
                  <tr>
                      <th>Username</th>
                      <th>E-mail</th>
                      <th>Post</th>
                      <th>Usertype</th>
                      <th></th>
                      <th></th>
                  </tr>
                </thead>
                <% showallusers.forEach(function(user){ %>
                <tbody>
                  <tr>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.total_post%></td>
                    <td><%= user.permission %></td>
                    <td>
                      <a href="#" class="btn waves-effect waves-light red">Delete</a>
                    </td>
                    <td>
                      <a href="#" class="btn waves-effect waves-light green">Edit</a>
                    </td>
                  </tr>
                </tbody>
                <% }); %>      

              </table>
        

    
</body>
</html>