<%- include("layout/header") %>
<%- include("layout/layoutnavbar") %>
<% if(locals.user){ %>
    <div class="container mt-5 mb-5 p-3" style="background-color: whitesmoke;">
        <h3 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Edit profile</h3>
        <form method="POST" action="/blogs/profile/edit/id=<%= user._id %>" enctype="multipart/form-data" class="" style=" padding: 20px; margin: 10px auto; width: 300px;">
            <div class="btn-edit">
                <div class="mt-3">
                    <div class="">Username: <%= user.username %> <i class="fas fa-user-edit" id="showboxedit"></i>
                    </div>
                    <div class="mt-2">
                        <input type="text" placeholder="New Username" name="username">
                    </div>
                </div>
                <hr>
                <div class="mt-3">
                    <div class="">Email: <%= user.email %> <i class="fas fa-user-edit" id="showboxedit"></i></div>
                    <div class="mt-2">
                        <input type="text" placeholder="New email" name="email"></span>
                    </div>
                </div>      
                <hr>
                <div class="mb-3">
                    <label class="" for="customFile">อัพโหลดรูปโปรไฟล์</label>
                    <input type="file" name="pic" class="">
                </div>
            </div>
            <div style="text-align:center;">
                <button type="submit" class="btn btn-success" >save</button>
            </div>
            
        </form>
        <script>
            $(document).ready(function(){
                $("i").click(function(){
                    $("div").prepend("<input>");
                });
            });
        </script>
    </div>
<% } %> 
<% if(!locals.user){ %>
    <div class="text-center p-5"><h2>Please Login!</h2></div>
<% } %> 
