<%- include("layout/header") %>
<%- include("layout/layoutnavbar") %>
<% if(locals.user){ %>
    <div class="container mt-5 mb-5">
        <h3 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Edit profile</h3>
        <form method="POST" action="/profile/edit/id=<%= user._id %>" style="background-color: whitesmoke; padding: 5px; margin: 10px auto;">
            
            <div class="m-3">
                <div class="row p-2">
                    <div class="col-4">Username: </div>
                    <div class="col-4"><%= user.username %></div>
                    <div class="col-4"><input type="text" placeholder="New username" name="username"></div>
                </div>
                <div class="row p-2">
                    <div class="col-4">Email: </div>
                    <div class="col-4"><%= user.email %></div>
                    <div class="col-4"><input type="text" placeholder="New email" name="email"></div>
                </div>
                  
            </div>
            <div style="text-align:center;">
                <button type="submit" class="btn btn-success" >save</button>
            </div>
            
        </form>
    </div>
<% } %> 
<% if(!locals.user){ %>
    <div class="text-center p-5"><h2>Please Login!</h2></div>
<% } %> 
