<%- include("layout/header") %>
<%- include("layout/layoutnavbar") %>
<% if(locals.user){ %>
<div style="background-color: whitesmoke">
    <div class="container pt-lg-4 pb-lg-4 pt-3 pb-3">
        <div class="row">
            <div class="col-lg-4 col-12">
                <div class="m-auto img-profile" >
                    <img src="/images/cat1.jpeg" alt="" class="" id="myImg">
                </div>
            </div>
            <div class="col-lg-8 col-12 pt-lg-5 pt-1">
                <div class="card bg-white p-4">
                    <h4>ชื่อผู้ใช้ : <%= user.username %></h4>
                    <h6>อีเมล : <%= user.email %></h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="mt-5">      
        <div class="row">
          <% if(photogallery.length > 0){ %>
            <div class="col-md-9 col-12">
                <div class="row">
                    <div class="col-12">
                      <article class="pb-3">
                        <a href="/blogs/review/id=<%= photogallery[0]._id %>">
                          <div class="card">
                            <img src="<%= photogallery[0].imgurl %>" alt="">
                            <div class="p-2">
                              <h5><%= photogallery[0].name %></h5>
                              <div class="mt-auto">
                                <i class="fas fa-eye eye-view"> 10 </i>
                              </div>
                            </div>
                          </div>
                        </a>     
                      </article>
                    </div>
                    <div class="col-12">
                      <div class="row">
                        <% for(var i=1; i < (photogallery.length); i++) { %>
                        <article class="col-md-6 col-6 pb-3">
                          <a href="/blogs/review/id=<%= photogallery[i]._id %>">
                            <div class="card">
                              <img src="<%= photogallery[i].imgurl %>" alt="">
                              <div class="p-2">
                                <h5><%= photogallery[i].name %></h5>
                                <div class="mt-auto">
                                  <i class="fas fa-eye eye-view"> 10 </i>
                                </div>
                              </div>
                            </div>
                          </a>     
                        </article>
                        <% } %>
                      </div>
                    </div>
                  </div>
            </div>
          <% } %>   
            <div class="col-md-3 col-12 pt-3" style="background-color: whitesmoke;">
                <div class="bg-white">
                    <div class="p-2 bg-success text-white">Catelog</div>
                    <div class="p-1">
                        <ul>
                            <li>ของกิน</li>
                            <li>เที่ยวใกล้กรุงเทพ</li>
                            <li>โรงแรม</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
  <!-- The Modal -->
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div>

    <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
    <% if(photogallery.length <= 0){ %>
        <div class="text-center">
            <h2>No timeline</h2>
        </div>
    <% } %>    
</div>
<% } %> 
<% if(!locals.user){ %>
    <div class="text-center p-5"><h2>Please Login!</h2></div>
<% } %> 
<%- include("layout/footer") %>  