<%- include("layout/header") %>
<%- include("layout/layoutnavbar") %>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-3 bg-white pr-3">
            <h1><%= Blogs.name%></h1>
            <div>
                <img src="/images/no-image.png" alt="" class="author-img mr-2">
                <div>
                    <p><a href="#">บอส บอสซ่า</a><br><i class="far fa-clock"> 27-03-2020 </i></p>
                </div>
            </div>
            <article class="mt-3">
                <img src="/images/img-profile/<%= Blogs.imgurl%>" alt="">
                <div class="mt-2 mb-2 pt-2">
                    <%- Blogs.content%>
                </div>
                
            </article>
        </div>
        <div class="col-lg-4 mt-3 bg-white">
            <div class="mt-3 bg-light">
                <div class="btn-success pl-3 mt-2 p-1">
                    <h5>แนะนำ</h5>
                </div>
                
                <div class="media">
                    <a href="#">
                        <img src="/images/no-image.png" alt="" class="m-3 image-sidebar-recommend">
                        <div class="media-body p-1">
                            <p>ที่เที่ยวจังหวัดอ่างทอง พระตำหนักคำหยาด โบราณสถาน ในอดีต แห่งความทรงจำ</p>
                        </div>
                    </a>
                </div>
                <div class="media">
                    <a href="#">
                        <img src="/images/no-image.png" alt="" class="m-3 image-sidebar-recommend">
                        <div class="media-body p-1">
                            <p>ที่เที่ยวจังหวัดอ่างทอง พระตำหนักคำหยาด โบราณสถาน ในอดีต แห่งความทรงจำ</p>
                        </div>
                    </a>
                </div>
                <div class="media">
                    <a href="#">
                        <img src="/images/no-image.png" alt="" class="m-3 image-sidebar-recommend">
                        <div class="media-body p-1">
                            <p>ที่เที่ยวจังหวัดอ่างทอง พระตำหนักคำหยาด โบราณสถาน ในอดีต แห่งความทรงจำ</p>
                        </div>
                    </a>
                </div>
                <div class="media">
                    <a href="#">
                        <img src="/images/no-image.png" alt="" class="m-3 image-sidebar-recommend">
                        <div class="media-body p-1">
                            <p>ที่เที่ยวจังหวัดอ่างทอง พระตำหนักคำหยาด โบราณสถาน ในอดีต แห่งความทรงจำ</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>