<%- include("layout/header") %>
<%- include("layout/layoutnavbar") %>
<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-3 bg-white pr-3" style="background-color: whitesmoke;">
            <h2><%= Blogs[0].name%></h2>
            <div class="mt-3">
                <img src="/images/img-profile/<%= Blogs[0].postby[0].image %>" alt="" class="author-img mr-2">
                <div>
                    <p><a href="#"><%= Blogs[0].postby[0].username %> </a><br><i class="far fa-clock"> <%= moment(Blogs[0].date).format("DD-MM-YYYY HH:mm") %> </i></p>
                </div>
            </div>
            <article class="mt-3">
                <img src="/images/posts/<%= Blogs[0].imgurl%>" alt="">
                <div class="mt-2 mb-2 pt-2 content">
                    <%- Blogs[0].content%>
                </div>
                
            </article>
            
            <div style="background-color: whitesmoke; padding: 15px; margin: 10px 0px 10px 0px;">
                <h6>1 Comment</h6>
                <div class="p-1 m-1">
                    <div class="bg-light">
                        <img src="/images/img-profile/no-imgprofile.png" alt="" class="usercomment-img mr-2">
                        <p class="p-1">อยากไปเที่ยวจัง </p> 
                    </div>
                    <% if(locals.user){ %>
                    <form action="">
                        <textarea name="" id="" rows="3" style="width: 100%;"></textarea>
                        <input type="submit">
                    </form>
                <% } %>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <aside class="mt-3 bg-light p-2">
                <div class="pl-3 mt-2 sidebar-recommend-title">
                    <h5>ยอดนิยม</h5>
                </div>
                <div class="sidebar-recommend">
                    <a href="">
                        <img src="/images/posts/สงกรานต์-โคราช.jpg" alt="" class="image-sidebar-recommend">
                    </a>
                    <a href="">
                        <div class="p-1">
                            <p>สถานที่ท่องเทียวยอดนิยม ที่คุณต้องไป</p> 
                        </div>
                    </a>
                </div>
                <div class="sidebar-recommend">
                    <a href="">
                        <img src="/images/posts/สงกรานต์-โคราช.jpg" alt="" class="image-sidebar-recommend">
                    </a>
                    <a href="">
                        <div class="p-1">
                            <p>สถานที่ท่องเทียวยอดนิยม ที่คุณต้องไป</p>
                        </div>
                    </a>
                </div>
                <div class="sidebar-recommend">
                    <a href="">
                        <img src="/images/posts/สงกรานต์-โคราช.jpg" alt="" class="image-sidebar-recommend">
                    </a>
                    <a href="">
                        <div class="p-1">
                            <p>สถานที่ท่องเทียวยอดนิยม ที่คุณต้องไป</p>
                        </div>
                    </a>
                </div>
            </aside>
            <aside class="bg-light mt-3">
                <!-- sidebar right-->
                <div>
                    <div class="mt-3 p-2 category">
                    <div class="category-title"> <h5>หมวดหมู่</h5> </div>
                    <div>
                        <ul class="category-list">
                            <% for(var i=0; i<(Category.length); i++) { %>
                                <li class="category-items"><a href="/blogs/showmore/<%= Category[i].name %>"><%= Category[i].name %></a></li>
                            <% } %>
                        </ul>
                    </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>
<%- include("layout/footer") %>