<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <divs class="container">
        <a class="navbar-brand textlogo" href="/blogs"><i class="fas fa-map-marked-alt"></i> เที่ยวหลักร้อย</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="collapsibleNavbar">
<!--			 ml-auto ชิดขวา-->
        <% if(locals.user){ %>
            <div>
                <input class="form-control" type="text" placeholder="Search">
            </div>
            <ul class="navbar-nav ml-auto" style="font-size: large;">
                <li class="nav-item active"><a class="nav-link" href="/blogs">Home</a></li>  
                <li class="nav-item"><a class="nav-link" href="/blogs/profile/id=<%= user._id %>">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs/new">Post</a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs/mygallery/id=<%= user._id %>">My Gallery</a></li>
            </ul>
            <div class="btn-group">
                <a href="/blogs/profile/id=<%= user._id %>">
                    <button type="button" class="btn btn-primary"><i class="fas fa-user"></i> <%= user.username %></button>
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
                <!-- <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"></button> -->
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/blogs/profile/edit/id=<%= user._id %>">Edit profile</a>
                  <a class="dropdown-item" href="/blogs/logout">Logout</a>
                </div>
              </div>
        <% } %> 
        <% if(!locals.user){ %>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a class="nav-link" href="">Home</a></li>
            </ul>
            <span>
                <a href="/blogs/login">
                    <button type="button" class="btn btn-primary"><i class="fas fa-user"></i> Login</button>
                </a>
            </span>
            
        <% } %>     
        </div> 
    </div>
</nav>